@import '@/styles/colors.sass'

a.link, a.nestLink
    display: block
    text-decoration: none
    color: $color_black !important
    padding: 0px 15px
    border-radius: 0px
    text-wrap: wrap

// a.link
//     font-size: 16px
//     font-weight: 700

a.link.active, a.nestLink.active
    background-color: $color_dark_purple !important
    color: $color_white !important

a.link:active, a.nestLink:active
    background-color: transparent !important
    color: $color_black !important

// a.nestLink
//     font-size: 14px
//     font-weight: 700
//     padding: 0px 5px

// @media screen and (max-width: 992px)
//     a.link
//         font-size: 24px
//         color: $color_white

//     a.nestLink
//         font-size: 22px
