@import '@/styles/colors.sass'

.menuItem
    width: 100%
    border-radius: 0px
    color: $color_black
    font-size: 16px
    line-height: 50px
    letter-spacing: 1px
    transition: 0.5s

    &:hover
        background-color: darken($color_purple, 5)
