@import '@/styles/colors.sass'

.subMenu
    details
        summary.title
            color: $color_black
            border-radius: 0px
            font-size: 16px
            padding: 15px 15px
            outline: none
            white-space: normal
            transition: 0.5s !important

            &:active
                background-color: transparent !important
                color: $color_black

            &:hover
                background-color: darken($color_purple, 5) !important

        ul.nestMenu
            border-left: 2px solid lighten($color_purple, 10)
