@import '@/styles/colors.sass'

.logo
    background-color: darken($color_dark_purple, 15)
    
    .container.mx-auto
        .flex.flex-wrap
            .w-full
                .title
                    padding: 15px 12px
                    color: $color_white
                    text-align: center
                    font-weight: 600
