@import '@/styles/colors.sass'
@import '@/styles/variables.sass'

.sidebar
    position: fixed
    z-index: 1000
    left: 0px
    top: 0px
    width: $sidebar_width
    height: 100%
    display: block
    padding: 0px
    transition: 0.5s

    .sidebar_container
        display: block
        height: calc(100vh)
        background-color: $color_purple
        overflow-y: scroll
        overflow-x: hidden
        
    .sidebar_container::-webkit-scrollbar
        width: 2px
        background-color: $color_black

    .sidebar_container::-webkit-scrollbar-track
        background-color: $color_purple

    .sidebar_container::-webkit-scrollbar-thumb
        background-color: lighten($color_purple, 10)
        border-radius: 50px
    