@import '@/styles/colors.sass'

.donutChartChangeData
    .container.mx-auto
        padding: 50px
        
        .flex.flex-wrap
            .w-full
                .card
                    background-color: $color_white
                    display: block
                    padding: 20px

                    label
                        margin-right: 10px
                        color: $color_black

                        input[type='radio']
                            -webkit-appearance: none
                            -moz-appearance: none
                            appearance: none
                            outline: none
                            border: 5px solid $color_grey
                            border-radius: 50px
                            width: 18px
                            height: 18px
                            vertical-align: middle
                            position: relative
                            margin-right: 5px

                            &:before
                                content: ""
                                background-color: transparent
                                border-radius: 50%
                                width: 8px
                                height: 8px
                                display: black
                                position: absolute
                                left: 50%
                                top: 50%
                                transform: translate(-50%, -50%)

                            &:checked:before
                                background-color: $color_blue

                            &:checked
                                border: 3px solid $color_blue