@import '@/styles/colors.sass'

.donutChartCleanLayout
    .container.mx-auto
        padding: 50px

        .flex.flex-wrap
            display: block

            .w-full
                .card
                    display: block
                    background-color: $color_white
                    padding: 20px 40px
                    box-shadow: 0px 0px 15px rgba($color_black, 0.1)

                    .btn
                        display: inline-block
                        height: auto
                        width: max-content
                        border: 1px solid $color_blue
                        border-radius: 5px
                        padding: 5px 20px
                        color: $color_blue
                        background-color: transparent
                        