@import '@/styles/colors.sass'

.hamburger
    width: 50px
    padding: 14px 12px
    cursor: pointer
    justify-content: center
    align-items: center
    flex-direction: column
    z-index: 10

    &:hover
        background-color: $color_grey

    .hamburger_toggle
        width: 100%
        height: 5px
        background-color: $color_black
        margin: 2px 0px
        border-radius: 5px

.hamburger.mobile.opened
    display: flex

.hamburger.mobile.close
    display: flex

    .hamburger_toggle
        transition: 0.5s
    
    .hamburger_toggle:nth-child(1)
        background-color: $color_white
        width: 45px
        transform: rotate(45deg) translate(7px, 7px)
    
    .hamburger_toggle:nth-child(2)
        background-color: $color_white
        visibility: collapse

    .hamburger_toggle:nth-child(3)
        background-color: $color_white
        transform: rotate(-45deg) translate(5px, -6px)
        width: 40px
