@import '@/styles/colors.sass'

.lineChartGroupDropDown
    .container.mx-auto
        padding: 50px

        .flex.flex-wrap
            .w-full
                .card
                    display: block
                    background-color: $color_white
                    box-shadow: 0px 0px 15px rgba($color_black, 0.1)

                    .search_container
                        padding: 20px

                        select.data_mode
                            padding: 5px 10px
                            border: 1px solid $color_grey
                            outline: none
                            cursor: pointer
                            transition: 0.5s

                            &:hover
                                border: 1px solid darken($color_grey, 10)
                        