.lineChartSmallMultiple
    .container.mx-auto
        padding: 50px

.lineChartSmallMultipleSvg
    display: flex
    flex-wrap: wrap
    border-radius: 10px
    overflow: hidden
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
    