@import '@/styles/colors.sass'

.lineChartInputDataTransfer
    .container.mx-auto
        padding: 50px

        .flex.flex-wrap
            .w-full
                .card
                    display: block
                    background-color: $color_white
                    padding: 20px 40px
                    box-shadow: 0px 0px 15px rgba($color_black, 0.1)

                    .btn
                        display: inline-block
                        width: max-content
                        margin: 0px 10px
                        background-color: $color_white
                        color: $color_blue
                        border: 1px solid $color_blue
                        padding: 5px 10px
                        border-radius: 2.5px
                        font-size: 12px
                        transition: 0.5s

                        &:hover
                            &.btnChangeData1, &.btnChangeData2
                                background-color: $color_blue
                                color: $color_white
