@import '@/styles/colors.sass'
@import '@/styles/sidebar.sass'

*
    font-family: 'Arial', sans-serif, '微軟正黑體'

:root
    color-scheme: none
    --b1: none !important

html, body
    background-color: $color_grey
    color-scheme: none