@import './variables'

.appWapper.opened
    .main_container
        margin-left: $sidebar_width

    .sidebar
        left: 0

.appWapper.close
    .main_container
        margin-left: 0px

    .sidebar
        left: -$sidebar_width

.appWapper.mobile.opened
    .sidebar
        left: 0px

    .main_container
        margin-left: 0px

.appWapper.mobile.close.withoutAnimation
    transition: 0s

    .sidebar
        left: -$sidebar_width

    .main_container
        margin-left: 0px

.appWapper.close.withoutAnimation
    transition: 0s

    .sidebar
        left: -$sidebar_width

    .main_container
        margin-left: 0