@import '@/styles/colors.sass'

.circularBarChartCanvas
    .container.mx-auto
        padding: 50px

        .flex.flex-wrap
            .w-full
                .circularBarChartCanvasSvg
                    width: 100%
                    height: 100vh
                    background-color: $color_white
                    border-radius: 20px