@import '@/styles/colors.sass'

.boxPlotChartHorizontal
    .container.mx-auto
        padding: 50px
        
        .flex.flex-wrap
            .w-full
                .card
                    border-radius: 10px
                    background-color: $color_white
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
                    overflow: hidden

                    .tag
                        position: absolute
                        left: 0px
                        top: 0px
                        display: none
                        border-radius: 5px
                        padding: 5px 10px
                        background-color: $color_black
                        color: $color_white
                        font-size: 12px