@import '@/styles/colors.sass'

.pieChartInputDataSelector
    .container.mx-auto
        padding: 50px

        .flex.flex-wrap
            .w-full
                .card
                    display: block
                    background-color: $color_white
                    padding: 20px
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
                    
                    .btn
                        padding: 10px 20px
                        margin-right: 10px
                        margin-bottom: 10px
                        border-radius: 5px
                        font-weight: normal
                        background-color: transparent
                        transition: 0.5s

                    .btnData1
                        border: 1px solid $color_blue
                        color: $color_blue

                        &:hover
                            background-color: $color_blue
                            color: $color_white

                    .btnData2
                        border: 1px solid $color_pink
                        color: $color_pink

                        &:hover
                            background-color: $color_pink
                            color: $color_white


