@import '@/styles/colors.sass'

.barChartChangeColor
    .container.mx-auto
        padding: 50px
        
        .flex.flex-wrap
            .w-full
                .card
                    background-color: $color_white
                    padding: 10px
                    border-radius: 10px
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)

                    .btn
                        padding: 5px 10px
                        margin: 10px
                        border-radius: 2.5px
                        transition: 0.5s

                        &.btnColorBlue
                            border: 1px solid $color_blue
                            color: $color_blue

                            &:hover
                                background-color: $color_blue
                                color: $color_white

                        &.btnColorPurple
                            border: 1px solid $color_purple
                            color: $color_purple

                            &:hover
                                background-color: $color_purple
                                color: $color_white