@import '@/styles/colors.sass'

.densityChartSidebar
    .container
        padding: 48px

        .densityChartSidebarSvg
            background-color: $color_white
            border-radius: 5px

            .search_container
                padding: 20px

            .mysidebar
                -webkit-appearance: none
                appearance: none
                width: 100%
                margin: 0
                outline: 0
                background-color: transparent

            .mysidebar::-webkit-slider-runnable-track
                height: 6px
                background: darken($color_grey, 15)
                border-radius: 50px

            .mysidebar::-webkit-slider-container
                height: 21px
                overflow: hidden

            .mysidebar::-webkit-slider-thumb
                -webkit-appearance: none
                appearance: none
                width: 21px
                height: 21px
                border-radius: 50%
                background-color: $color_pink
                border: 1px solid transparent
                margin-top: -8px
                border-image: linear-gradient($color_pink, $color_pink) 0 fill / 8 20 8 0 / 0px 0px 0 2000px
