@import '@/styles/colors.sass'

.densityChartDropdown
    .container
        padding: 24px

        .densityChartDropdownSvg
            background-color: $color_white
            border-radius: 10px

            .search_container
                padding: 20px

                .sepal_option
                    padding: 5px 10px
                    outline: none
                    border: 1px solid darken($color_grey, 5)
                    border-radius: 2.5px
                    cursor: pointer
                    transition: border 0.5s

                    &:hover
                        border: 1px solid darken($color_grey, 20)