.areaChartSmallMultiple
    .container.mx-auto
        padding: 50px

.areaChartSmallMultipleSvg
    display: flex
    flex-wrap: wrap
    border-radius: 10px
    overflow: hidden
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
    // justify-content: center
    // align-items: center
    // flex-direction: row
