@import '@/styles/colors.sass'
@import '@/styles/variables.sass'

.appWapper
    .draw
        position: fixed
        z-index: 999
        width: 100%
        height: 100%
        background-color: $color_black
        opacity: 0.2

    .draw.desktop
        display: none

    .main_container
        margin-left: $sidebar_width
        transition: 0.5s